@import 'meyer-reset.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&family=Roboto:wght@300;400;500;900&display=swap');


*, *::after, *::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto' ,sans-serif;
}

img {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER -------------------------------------------- */

.header,
.footer {
    background-color: rgb(0, 37, 57);
}

.header {
    padding: 1em;
}

.logo {
    font-size: 2.25rem;
    letter-spacing: 8px;
    text-align: center;
    color: white;
}

.links-list {
    display: flex;
    margin: 0 auto;
    text-align: center;
    margin-top: 1rem;
}

.header__link {
    color: white;
}

.header__link + .header__link {
    margin-top: .35em;
}

.sign-up-link {
    font-size: 1.2em;
    background-color: rgb(187, 227, 215);
    padding: .35em .75em;
    border-radius: 100px;
    color: rgb(0, 37, 57);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN ----------------------------------------------- */

.main {
    background-color: rgb(241, 255, 251);
    padding: 20px 0;
    height: 100vh;
}

.btn {
    display: flex;
    margin: 0 auto;
    background: none;
    border: none;
    font: inherit;

    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 900;
    
    background: rgb(68, 136, 205);
    color: white;
    padding: .5em;
    border-radius: 5px;
    padding: 10px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn:focus {
    opacity: 80%;
}

.add-book:focus,
.add-book:hover {
    opacity: 70%;
}


/* FOOTER --------------------------------------------- */

.footer {
    padding: .75asem;
}

.footer__link {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    letter-spacing: .25em;
    margin: 0 auto;
    width: fit-content
}

/* POPUP ----------------------------------------------- */

.popup {
    background-color: rgb(255, 255, 255);
    width: 85%;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid black;
    padding: 1em;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.toggle-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    padding: .5em 0;
}

/* FORM ----------------------------------------- */

.form-item {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.form-item .btn {
    font-size: .75em;
}

.label {
    width: fit-content;
    font-size: 1.25em;
    margin-bottom: 10px;
}
.input {
    margin-bottom: 10px;
    width: 70%;
    max-width: 300px;
    text-align: center;
}

/* LIBRARY ---------------------------------------------- */

.library-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

/* CARD ------------------------------------------------ */

.card {
    width: 200px;
    background-color: cornsilk;
    border-radius: 10px;
    border: 1px solid black;
    padding: 1em;
}

.book-title {
    text-align: center;
    font-size: 1.25em;
}

@media (min-width: 800px) {
    .logo {
        font-size: 4em;
        display: block;
    }

    .column {
        flex-direction: row;
    }

    .links-list {
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        width: 100%;
    }

    .header__link {
        font-size: 1.5em;
    }

    .header__link +.header__link {
        margin-left: 25px;
        margin-top: 0;
    }

    .add-book {
        font-size: 3em;
        
    }

}